<section class="error-page container">
  <div class="error-box">
    <h1>⚠️ Oops! Something Went Wrong</h1>
    <p>{{message}}</p>

    <a href="/" class="btn-primary">Go Back Home</a>
  </div>
</section>
